.container {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 12px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.03),
    white,
    rgba(0, 0, 0, 0.03)
  );

  /* text */
  color: rgba(26, 26, 26, 0.64);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.42px;
}

@media screen and (max-width: 580px) {
  .container {
    padding: 7px 5px;
    border-radius: 8px;
    gap: 5px;

    font-size: 12px;
    letter-spacing: 0.24px;
  }
}
