.wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 272px;
}

.container {
  background: var(--geist-background);
}

.footerWrapper {
  height: 274px;
  width: 100%;
  background: transparent;
}
